* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #aaaaaa, #eeeeee);
  font-family: "Lato", sans-serif;
}

#spin_the_wheel {
  position: relative;
}

#wheel {
  display: block;
}

#spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  user-select: none;
  z-index: 2;
}

#spin::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid black;
}

#result {
  display: none;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  /* width: 150px; */
  /* height: 150px; */
  /* background: white; */
  /* border-radius: 50%; */
  text-align: center;
  color: red;
  line-height: 80px;
  font-size: 1.5rem;
  font-weight: bold;
  /* cursor: pointer; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  /* user-select: none; */
  /* z-index: 2; */
}
